/* 头部 */
.changePassword{
    height: 100vh;
}
.exchange-top{
    background: transparent;
}
/* 输入框 */
.attestation-content3{
    position: relative;
}
.send-code{
    position: absolute;
    top: 0.48rem;
    right: 0.15rem;
    color: #8213D6 !important;
}
.btn{
    margin-top: 0.9rem !important;
}
.attestation-content>button{
    width: 100%;
}