.exchange-top{
    background: transparent;
}
.sell_set{
    height: 100vh;
}
.inp{
    margin: 0.26rem 0.25rem 0.1rem 0.25rem;
    padding: 0;
}
.inp input{
    width: 3.12rem !important;
    height: 0.44rem;
    line-height: 0.44rem;
    padding: 0 0 0 0.13rem !important;
    border-radius: 0.1rem;
}
.inp p{
    color: #FFFFFF;
    font-size: 0.15rem;
    margin-bottom: 0.14rem;
}
.inp2{
    margin-top: 0;
}
.inp2>p:nth-of-type(1){
    margin-top: 0.14rem;
}
.inp2>p:nth-of-type(2){
    margin-top: 0.25rem;
}
.btn{
    margin-top: 1.2rem;
}